html {
  background-color: #F5EbE0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 1.75em;
  margin-bottom: 60px;
}

.banner {
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.question {
  align-items: center;
}

.questionWrapper {
  padding-top: 15%;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.logo {
  position: absolute;
  width: 250px;
  bottom: 30px;
  left: 30px;
}

.choiceButton {
  font-size: 1.1em;
  background-color: #D97B77;
  color: #1F193E;
  padding: 1em;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-weight: 500;
}

.choiceButton:hover {
  background-color: #FCD6D6;
}

.selectedButton {
  font-size: 1.1em;
  background-color: #933238;
  color: #F9F6F0;
  padding: 1em;
  border-radius: 5px;
  border: none;
  border-width: 2px;
  margin: 10px;
  cursor: pointer;
  font-weight: 500;
  border-color: #1F193E;
}

.nextButton {
  font-size: 1.1em;
  background-color: #1F193E;
  color: white;
  padding: 1em;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-weight: 500;
}

.nextButton:hover {
  background-color: #BBB1D7;
}

.checkbox {
  font-size: 1.1em;
  align-items: left;
  padding: 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.choiceDropdown {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.choiceDropdown > option {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

.skipButton {
  background-color: #dd888400;
  color: black;
  padding: 1em;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

.organization {
  background: #FAEDE7;
}

.organizationName {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  align-items: center;
}

.organizationInfo {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.spotlightImg {
  width: 60px;
  height: 52px;
  float: right;
}
